*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: 200, 400, 500, 600, 700;
    line-height: 150%;
}

header{
    width: 100%;
    background: #F3F5FC;
}

.contenedor-logo{
    margin-top: 2%;
    margin-left: 3%;
    width: 2%;
}

body{
    background: #F3F5FC;
}

main{
    width: 100%;
    display: flex;
    background: #F3F5FC;
}

.seccion-ingresar{
    position: relative;
    margin-top: 0%;
    margin-left: 15%;
    width: 40%;
}

.text-ingresar{
    background: #F3F5FC;
    color: #0A3871;
    width: 96%;
    height: 350px;
    padding: 10px;
    font-size: 32px;
    font-weight: 400;
    resize: none;
    border: none;
}

::placeholder{ color: #0A3871;}

.text-ingresar:focus{
    outline: none;
}

.mensaje-error{
    font-size: 12px;
}

.logo-alerta, .texto-informacion{
    
    display: inline;
    flex: none;
    flex-grow: 0;
}

.logo-alerta{
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    width: 14px;
    height: 14px;
}

.texto-informacion{
    color: #495057;
    font-size: 10px;
    text-align: left;
    opacity: 0.8;
    margin-left: 30px;
}

.caja-botones{
    display: flex;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    gap: 4%;
}

.boton-encriptar, .boton-desencriptar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 5px;
    cursor: pointer;
    width: 332px;
    height: 67px;
    transition: all 0.4s ease;
}

.boton-encriptar{
    background-color: #0A3871;
    color: white;
}

.boton-desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
}

.boton-encriptar:hover , .boton-desencriptar:hover, .boton-copiar:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0.97);
    border: 1px solid orange;
}

.boton-encriptar:active , .boton-desencriptar:active, .boton-copiar:active {
    transform: scale(0.93);
    border: 1px solid black;
}

.seccion-mostrar{
    position: relative;
    width: 30%;
    margin-left: 8%;
    margin-top: 0%;
}

.contenedor-pantalla{
    position: relative;
}

.mostrar-mensaje{
    position: relative;
    background: white;
    width: 95%;
    height: 520px;
    border-radius: 10px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: left;
    color: #495057;
    font-size: 24px;
    padding: 10px;
    resize: none;
    margin-top: -10%;
}

.mostrar-mensaje:focus{
    outline: none;
}

.imagen-munieco{
    position: relative;
    margin-top: -500px;
    width: 100%;
}

.imagen-munieco h2, p{
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
}

.imagen-munieco p{
    font-size: 16px;
    font-weight: 400;
}

.imagen-munieco img{
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.div-copiar{
    position: relative;
}

.boton-copiar{
    position: relative;
    border: 1px solid #0A3871;
    color: #0A3871;
    cursor: pointer;
    border-radius: 24px; 
    height: 50px;
    width: 70%;
    font-size: 16px;
    transition: all 0.4s ease;
    top: -20px;
    margin-left: 16%;
}

footer{
    width: 100%;
    margin-top: 6%;
}

.div-redes{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%; 
}

.div-redes img {
    width: 20px;
    height: 20px; 
}

.link-redes:hover {
    transform: scale(0.90);
    transition: all 0.4s ease;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.copyright h2{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {

    main{
        display: block;
    }

    .seccion-ingresar{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .caja-botones{
        margin-left: 2.5%;
    }

    #imagen-munieco{
        display: none;
    }

    .seccion-mostrar{
        position: relative;
        width: 100%;
        margin-left: 1%;
        margin-top: 0%;
    }

    .contenedor-pantalla{
        position: relative;
        margin-top: 5%;
    }

    .mostrar-mensaje{
        position: absolute;
        width: 90%;
        height: 133px;
        margin-left: 2%;
        margin-top: 0%;
    }

    .imagen-munieco{
        position: absolute;
        margin-top: 4%;   
    }

    .imagen-munieco h2 br, p br {
        display:none;
    }

    .div-copiar{
        position: relative;
        margin-top: 0%;
        width: 100%;
        margin-top: 0%;
    }

    .boton-copiar{
        position: relative;
        width: 50%;
        height: 35px;
        margin-left: 25%;
        margin-top: 15%;
    }

    footer{
        width: 100%;
        margin-top: 10%;
    }

}

@media screen and (max-width: 480px){

    main{
        display: block;
    }

    .seccion-ingresar{
        position: relative;
        width: 95%;
        margin-left: 0%;
        margin-top: 0%;
    }

     .caja-botones{
        position: relative;
        display: block;
        width: 100%;
    }

    .boton-encriptar, .boton-desencriptar{
        margin-top: 5%;
        margin-left: -2%;
        width: 100%;
    }

   .seccion-mostrar{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }

    .contenedor-pantalla{
        position: relative;
    }

    .mostrar-mensaje{
        width: 80%;
        height: 186px;
        margin-top: 5%;
        margin-left: 3%;
    }

    .imagen-munieco{
        position: absolute;
        width: 90%;
        margin-left: 0%;
        margin-top: 10%;
    }

    #imagen-munieco{
        display: none;
    }

    .boton-copiar{
        position: relative;
        width: 50%;
        margin-left: 20%;
        margin-top: 36%;
    }

    footer{
        width: 100%;
        margin-top: 20%;
    }

}
